body {
    background-color: #fff;
    color: #000;
}

#titrecontent {
    background-color: #fff;
}

.col-lg-5 .icon-spin6, .col-lg-5 .icon-cancel {
    color: #000;
}

#theCategoryPage .header {
    background: #FF2F63;
}

.nav-wrapper.topbar-sticky-pos {
    background: #FF2F63;
}

#theHeader h1 a {
    color: #000;
}

    #theHeader h1 a:hover {
        color: #fff;
        text-shadow: 0 0 10px black;
    }

.menu .menubar_1, .menu .hello {
    background: transparent;
    color: #000;
    text-shadow: none;
}


#qsearchInput {
    background-color: #ff96af;
    border: 1px solid #ff96af;
    color: #000;
    border-radius: 5px;
}

#cmdCaddie span, #cmdSetRepresentative span {
    /* color: #FF2F63;*/
}

A .stm-icon {
    color: #FF2F63;
}

    A .stm-icon:hover {
        color: #FF2F63;
    }

#theCategoryPage::-webkit-scrollbar-thumb, #theColorPage::-webkit-scrollbar-thumb {
    background: #FF2F63;
}

#theCategoryPage::-webkit-scrollbar-button, #theColorPage::-webkit-scrollbar-button {
    background-color: #FF2F63;
}

#mydiv::-webkit-scrollbar-thumb, #searchform::-webkit-scrollbar-thumb, #searchform1::-webkit-scrollbar-thumb {
    background: #FF2F63;
}

#mydiv::-webkit-scrollbar-button, #searchform::-webkit-scrollbar-button, #searchform1::-webkit-scrollbar-button {
    background-color: #FF2F63;
}

.menu ul a {
    line-height: 1;
}

.menu .sfHover > a, .menu a:hover {
    color: #FF2F63;
    text-shadow: none;
    text-decoration: none;
}

.menu p, .menu ul, .menu a {
    color: #000;
}

.menu span:hover {
    color: #FF2F63;
    text-decoration: none;
    text-shadow: none;
}

.menu h2 {
    color: #000;
}

.menu > li.child-active > a, .menu > li > a.active {
    background: #e8e8ea;
}

.menu > li.sfHover > a, .menu > li > a:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 10px black;
}

.menu li > ul {
    background: #e8e8ea;
}

    .menu li > ul .sfHover > a, .menu li > ul a:hover {
        background: #e8e8ea;
        color: #FF2F63;
        text-decoration: none;
        text-shadow: none;
    }

.menu li ul ul {
    background: #e8e8ea;
}

    .menu li ul ul .sfHover > a, .menu li ul ul a:hover {
        background: #e8e8ea;
        color: #FF2F63;
        text-decoration: none;
        text-shadow: none;
    }

.menu span.badge {
    background-color: #FF2F63;
    color: #fff;
}

    .menu span.badge.color2 {
        background-color: #e8e8ea;
        color: #000;
    }

.menu span.badge3 {
    background-color: unset;
    color: #000;
}

.titrePage H2 span.badge {
    background-color: #FF2F63;
    border-radius: 20px;
    color: #fff;
    text-shadow: none
}

hr {
    border: 1px solid #bfbfc2;
    width: 70%;
    margin-left: 20px;
}

#zzz {
    background-color: #f2f2f2;
    color: #8e8e93;
}

.sel_a, .tagsa, .divpaint {
    color: #FF2F63;
}

    .sel_a:hover, .divpaint:hover {
        color: #FF2F63;
        text-decoration: none;
    }



#titleh2 a {
    color: #000;
}

    #titleh2 a:hover {
        color: #FF2F63;
        text-decoration: none;
    }

.thumbLegend a {
    color: #000;
}

    .thumbLegend a:hover, .itemtit:hover {
        color: #FF2F63;
        text-decoration: none;
    }

h2, h3, h4, h5, h6 {
    color: #000;
}

.itemtit {
    color: #000;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    color: #FF2F63;
    text-decoration: none;
}

.icon-check, .icon-check-empty {
    color: #000;
}

.tip_drag {
    color: #000;
}


.thumbLegend2 a {
    color: #000;
}

.image_stack img {
    background-color: #fff;
}

A {
    color: #000;
}

    a:hover {
        text-decoration: none;
    }

.viewer-backdrop {
    background-color: unset;
}

.titrePage .switchBox {
    background-color: #e8e8ea;
    border-radius: 5px;
    padding: 10px
}

    .titrePage .switchBox A, .titrePage .switchBox span {
        color: #000;
    }

        .titrePage .switchBox A:hover {
            color: #FF2F63;
        }

A .stm-icon {
    opacity: 0.9
}

A:hover .stm-icon {
    opacity: 1
}


.titrePage H2 A:hover {
    /*color: #FF2F63*/
}

.titrePage H2 A {
    /*color: #000;*/
    text-shadow: none
}

.titrePage A {
    color: #000;
}

    .titrePage A:hover {
        color: #FF2F63;
    }

.actionButtons, .actionTags {
    background-color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
}

#imageHeaderBar .imageNumber {
    color: #000;
}

#tabcontent {
    background-color: #f2f2f2;
}


#content {
    background-color: #fff;
    border: unset;
}

.trash {
    background: unset;
    border: 1px dashed #333;
}

.selbtn {
    background: unset;
}


.icon-filter {
    color: #000;
}

    .icon-filter:hover {
        color: #FF2F63;
    }

.filter blockquote, .filter UL, .filter P {
    background-color: unset;
}

.filter fieldset label, fieldset legend {
    color: #000;
}

.adv_search {
    background-color: #fff;
}

#dates a:hover {
    color: #FF2F63;
}

#dates .selected {
    /*   color: #FF2F63;*/
    font-weight: bold;
}

#calendarViewSwitchLink {
    color: #000;
}

    #calendarViewSwitchLink:hover {
        color: #FF2F63;
    }

.titrePage .switchBox .switchbox1, .titrePage .switchBox span {
    color: #FF2F63;
}

.viewer-title {
    color: #000;
}

.detail_tag, .detail_album {
    color: #000;
}

label {
    color: #000;
    -webkit-user-select: text;
}

.tabs-style-iconfall nav a, .tabs-style-iconfall nav a:hover {
    color: #000;
}

.tabs-style-iconfall nav li.tab-current a {
    color: #000;
}

.jmn-video-panelinner {
    color: #000;
}

/*-----*/

.sel_a:hover, .divpaint:hover {
    text-decoration: none;
}

.cboxIframe {
    background: #fff;
}

#theColorPage, #cboxLoadedContent {
    background: #fff;
    /* color: #8e8e93;*/
}

fieldset label {
    /*   color: #8e8e93;*/
}

#colorbox {
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.6);
    color: #8e8e93;
    border-radius: 5px;
}

.filter-validate {
    background: #FF2F63;
    color: white;
}

.filter-validate {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 4px 10px;
    white-space: nowrap;
    border: 0;
}

    .filter-validate:hover {
        background: #FF2F63;
        color: white;
    }


::placeholder {
    background-color: unset;
    color: #717175;
}

#qsearchInput::placeholder {
    background-color: unset;
    color: #444;
}

#resbar {
    background-color: unset;
}

    #toolbar, #resbar a, #toolbar a {
        color: #FF2F63;
    }

#applyOnDetails {
    color: #000;
    font-size: 12px;
}

#content-wrapper {
    background-color: unset;
}

#quicksearch .do_search {
    color: #000;
}

    #quicksearch .do_search:hover {
        color: #000;
    }

.stm-icon-cancel2 {
    color: #777;
}

    .stm-icon-cancel2:hover {
        color: #000;
    }

#cboxClose {
    right: 8px;
    background: unset;
    top: -28px;
    float: right;
    text-indent: unset;
}

#cboxTitle {
    top: -25px;
    left: 5px;
    color: #555;
}

#mydiv {
    background-color: unset;
}

#theColorPage .sb-site-container {
    background-color: unset;
}


#container {
    background: unset;
}

#theLoginPage .properties a {
    color: #000;
}

#theLoginPage .properties input {
    color: #1E3259;
    background-color: unset;
    border: 1px solid gray;
}

.detail_td1, .tabcontenttag {
    color: #8e8e93;
}

.detail_td2 {
    color: #FF2F63;
}

    .detail_td2:hover {
        color: #FF2F63;
    }

.loc_a {
    color: #FF2F63;
}

    .loc_a:hover {
        color: #FF2F63;
        text-decoration: underline;
    }


.ul2 {
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.6);
}

#tabtags .selectize-input input::placeholder {
    color: #8e8e93;
}

#catModify .selectize-input input::placeholder {
    color: #717175;
}

.switchBoxTitle {
    border-bottom: solid 2px #bfbfc2;
    color: black;
}

#searchBox1 .switchBoxTitle {
    border-bottom: 1px solid #bfbfc2;
}

.tagLine td a, #fullTagCloud span a {
    color: #000;
}

    .tagLine td a:hover, #fullTagCloud span a:hover {
        color: #FF2F63;
    }

.viewer-clock-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255,255, 0.7);
}

    .viewer-clock-btn a {
        background-color: transparent;
        color: rgba(255, 255,255, 0.7);
        text-decoration: none;
    }

        .viewer-clock-btn a:hover {
            color: #fff;
        }

#tiptip_content {
    background: #e8e8ea;
}

#tiptip_holder a {
    color: #000;
}

    #tiptip_holder a:hover {
        color: #FF2F63;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {

    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: #ccc;
    }
}

.stm-icon-favorite-del:before {
    color: #000;
}

.pn-icon-caddie-del:before {
    color: #000;
}

#timeline {
    background: radial-gradient(#000 30%,transparent 0) left 38px repeat-x;
    background-size: 6px 6px;
}

#dates li {
    background: radial-gradient(#000 30%,transparent 0) center bottom no-repeat;
    background-size: 20px 20px;
}

#catModify #fpath {
    background-color: #f8f8f8;
    color: #aaa;
    border: 1px solid #ECECEC;
}

/*------------------------------------------*/

#searchBox label, #searchBox label span {
    color: #000;
}

#searchform legend {
    color: #000;
}

#searchform .slider-info {
    color: #000;
}

#searchform legend, #searchform1 legend {
    color: #FF2F63;
}

#searchform .slider-info {
    color: #000;
}

.titrePage .switchBox A, .titrePage .switchBox span {
    /* color: #FF2F63; */
}

#searchform FIELDSET {
    color: #000;
}

#searchBox .switchBoxTitle a:hover {
    background-color: transparent;
}

#searchform .filter-validate {
    color: #fff;
}
/*------------*/
.icon-left-open:hover, .icon-down-open:hover {
    color: #FF2F63;
}

.icon-left-open, .icon-down-open {
    color: #FF2F63;
}

#searchBox .icon-left-open:hover, #searchBox .icon-down-open:hover {
    color: #FF2F63;
}

#searchBox .icon-left-open, #searchBox .icon-down-open {
    color: #000;
}

/*.selectize-input, .selectize-input.focus {
    background-color: #FFD5DF;
    border-radius: 5px;
    border: 0;
    box-shadow: unset;
}

    .selectize-input input, .selectize-input input:focus {
        background-color: unset;
        border-radius: 5px
    }*/


.detail_td2 TEXTAREA, #tabtags .selectize-input, #tabtags .selectize-input input {
    background-color: unset;
    border: 1px solid #8e8e93;
    color: #FF2F63;
    border-radius: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    border: 0;
}

.detail_td2 TEXTAREA {
    border: 1px solid #ddd;
}


#catSearch input, #catSearch .selectize-input, #catSearch .selectize-input input {
    background-color: #f8f8f8;
    border-radius: 5px;
}

#catSearch1 input, #catSearch1 .selectize-input, #catSearch1 .selectize-input input {
    background-color: #eee;
    color: #444;
    border: 0;
    border-radius: 5px;
}

#catModify {
    color: #777;
}

    #catModify TEXTAREA, #catModify input, #catModify .selectize-input, #catModify .selectize-input input {
        background-color: #f8f8f8;
        border-radius: 4px;
        color: #666;
        border: 1px solid #DDD;
    }

        #catModify .selectize-input input {
            border: none;
        }

/*.filter input, .filter input:focus,*/
INPUT[type="password"], INPUT[type="text"], TEXTAREA {
    background-color: #eee;
    border-radius: 5px;
    color: #000;
    border: none;
}

.filter-manager-controller-container {
    background: #FF2F63;
}

    .filter-manager-controller-container label {
        color: #000;
    }

#filterbtn {
    background-color: #e8e8ea;
}

    #filterbtn .filter-actions {
        color: #777;
    }

        #filterbtn .filter-actions:hover {
            background-color: unset;
            color: #333;
        }

#searchform1 #filterbtn {
    background-color: #fff;
}

    #searchform1 #filterbtn .filter-actions {
        color: #aaa;
    }

        #searchform1 #filterbtn .filter-actions:hover {
            background-color: unset;
            color: #777;
        }

#searchBox .switchBoxTitle a span {
    color: #000;
    /*.titrePage .switchBox A*/
}
