

/*BEGIN themes/modus/css/iconfontello.css.tpl */
@font-face {
    font-family: 'modus';
    src: url(skins/fontello/font/modus.eot?66556310);
    src: url(skins/fontello/font/modus.eot?66556310#iefix) format('embedded-opentype'), url(skins/fontello/font/modus.woff2?66556310) format('woff2'), url(skins/fontello/font/modus.woff?66556310) format('woff'), url(skins/fontello/font/modus.ttf?66556310) format('truetype'), url(skins/fontello/font/modus.svg?66556310#modus) format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'fontello2';
    src: url(../../admin/themes/default/fontello/font/fontello.eot?66556310);
    src: url(../../admin/themes/default/fontello/font/fontello.eot?66556310#iefix) format('embedded-opentype'), url(../../admin/themes/default/fontello/font/fontello.woff2?66556310) format('woff2'), url(../../admin/themes/default/fontello/font/fontello.woff?66556310) format('woff'), url(../../admin/themes/default/fontello/font/fontello.ttf?66556310) format('truetype'), url(../../admin/themes/default/fontello/font/fontello.svg?66556310) format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'fontello1';
    src: url(../../admin/themes/default/fontello1/font/fontello.eot?66556310);
    src: url(../../admin/themes/default/fontello1/font/fontello.eot?66556310#iefix) format('embedded-opentype'), url(../../admin/themes/default/fontello1/font/fontello.woff2?66556310) format('woff2'), url(../../admin/themes/default/fontello/font/fontello.woff?66556310) format('woff'), url(../../admin/themes/default/fontello1/font/fontello.ttf?66556310) format('truetype'), url(../../admin/themes/default/fontello1/font/fontello.svg?66556310) format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="stm-icon-"]:before, [class*=" stm-icon-"]:before {
    font-family: "modus";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^="pn-icon-"]:before, [class*=" pn-icon-"]:before {
    font-family: "fontello2";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^="jmn-video-"]:before, [class*=" jmn-video-"]:before {
    font-family: "fontello1";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 24px;
    height: 24px;
}

.stm-icon-tag:before {
    content: '\2d'
}

.stm-icon-ellipsis:before {
    content: '\2026'
}

.stm-icon-pause:before {
    content: '\e800'
}

.stm-icon-minus:before {
    content: '\e801'
}

.stm-icon-close:before {
    content: '\e802'
}


.stm-icon-favorite-add:before {
    content: '\e803'
}


.stm-icon-camera-info:before {
    content: '\e804'
}

.stm-icon-user:before {
    content: '\e805'
}

.stm-icon-category-view-flat:before {
    content: '\e806'
}

.stm-icon-category-edit:before {
    content: '\e807'
}

.stm-icon-arrow-w:before {
    content: '\e808'
}

.stm-icon-arrow-e:before {
    content: '\e809'
}

.stm-icon-arrow-n:before {
    content: '\e80a'
}

.stm-icon-play:before {
    content: '\e80b'
}

.stm-icon-representative:before {
    content: '\e80c'
}

.stm-icon-map:before {
    content: '\e80d'
}

.stm-icon-save:before {
    content: '\e80e'
}

.stm-icon-help:before {
    content: '\e80f'
}

.stm-icon-edit:before {
    content: '\e810'
}

.stm-icon-menu:before {
    content: '\e811'
}

.stm-icon-caddie-add:before {
    content: '\e812'
}

.stm-icon-sizes:before {
    content: '\e813'
}

.stm-icon-globe:before {
    content: '\e814'
}

.stm-icon-cloud:before {
    content: '\e815'
}

.stm-icon-letters:before {
    content: '\e816'
}

.stm-icon-home:before {
    content: '\e817'
}

.stm-icon-user-edit:before {
    content: '\e818'
}

.stm-icon-album:before {
    content: '\e819'
}

.stm-icon-help-circled:before {
    content: '\e81a'
}

.stm-icon-calendar-plus:before {
    content: '\e81b'
}

.stm-icon-calendar:before {
    content: '\e81c'
}

.stm-icon-height:before {
    content: '\e81d'
}

.stm-icon-width:before {
    content: '\e81e'
}

.stm-icon-spin6:before {
    content: '\e81f'
}

.stm-icon-checkmark:before {
    content: '\e820'
}

.stm-icon-selecters:before {
    content: '\e821'
}

.stm-icon-cancel:before {
    content: '\e822'
}

.stm-icon-trash:before {
    content: '\e823'
}

.stm-icon-search-folder:before {
    content: '\e824'
}

.stm-icon-broom:before {
    content: '\e825'
}

.stm-icon-arrow-rotate-left:before {
    content: '\e826'
}

.stm-icon-down-open:before {
    content: '\e827'
}

.stm-icon-left-open:before {
    content: '\e828'
}

.stm-icon-right-open:before {
    content: '\e829'
}

.stm-icon-up-open:before {
    content: '\e830'
}

.stm-icon-star:before {
    content: '\e847'
}

.stm-icon-plus-circled:before {
    content: '\e84a'
}

.stm-icon-pencil:before {
    content: '\e84f'
}

.stm-icon-cog:before {
    content: '\e852'
}

.stm-icon-search:before {
    content: '\e900'
}

.stm-icon-hdd:before {
    content: '\f0a0'
}

.stm-icon-category-view-normal:before {
    content: '\f0e8'
}

.stm-icon-camera-calendar:before {
    content: '\f133'
}

.stm-icon-sort:before {
    content: '\f15d'
}

.stm-icon-file-image:before {
    content: '\f1c5'
}

A:hover .stm-icon:before {
    text-decoration: none !important
}

.stm-icon {
    font-size: 24px
}

.stm-button-text {
    display: none
}

.stm-state-disabled {
    opacity: .5;
}

.stm-button {
    display: inline-block;
    vertical-align: top;
    cursor: pointer
}

.stm-icon-slideshow:before {
    content: '\25b6'
}

.stm-icon-favorite-del:before {
  /*  content: '\2661\e801';
    letter-spacing: -2px*/
	    content: '\e803';
}


.stm-icon-calendar:before {
    content: '\f133'
}

.stm-icon-camera-calendar:before {
    content: '\e804'
}

.pn-icon-eye:before {
    content: '\e84d'
}

.pn-icon-eye-off:before {
    content: '\e82c'
}

.pn-icon-info-circled-1:before {
    content: '\e817'
}

.pn-icon-caddie-add:before {
    content: '\e81c'
}
.pn-icon-caddie-del:before {
    content: '\e81c';
}

.jmn-icon-go:before {
    content: '\e808'
}

.pn-icon-bg:before {
    content: '\e82f'
}

.pn-icon-search:before {
    content: '\e811'
}

.pn-icon-right:before {
    content: '\f178'
}

.pn-icon-star:before {
    content: '\2606';
	font-size: 20px;
    font-weight: bold;
}

.pn-icon-star-empty:before {
    content: '\2605';
	font-size: 20px;
    font-weight: bold;
}

.jmn-video-play:before {
    content: '\e802'
}

.jmn-video-pause:before {
    content: '\e803'
}

.jmn-video-prev:before {
    cursor: pointer;
    content: '\e806'
}

.jmn-video-next:before {
    cursor: pointer;
    content: '\e801'
}

.stm-icon-cancel2:before,.stm-icon-cancel3:before {
    content: '\e822'
}
