
.icon-edit:before { content: '\e800'; } /* '' */
.icon-fast-fw:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-pause:before { content: '\e803'; } /* '' */
.icon-music:before { content: '\e804'; } /* '' */
.icon-camera-alt:before { content: '\e805'; } /* '' */
.icon-fast-bw:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e808'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
