
#uploadForm li.plupload_droptext {
    line-height: 230px;
    font-size: 2em;
}


#uploadForm #addFiles {
    margin-right: 10px;
    float: left;
}

#uploadForm #uploadingActions {
    margin: 10px 10px 10px 15px;
}


#startUpload {
    margin: 0 25px;
    padding: 5px 10px;
    font-size: 1.1em;
}

#createAccount {
    padding: 5px 10px;
    font-size: 1.1em;
    background-color: #ff7700;
}

#startUpload:before {
    margin-right: 0.5em;
}


.thumbnail {
    max-height: 144px;
    max-width: 144px;
}

.thumbdiv0 {
    width: 144px; /*height:144px;*/
    text-align: center;
    display: inline-block;
    border: 1px solid gray;
    margin-left: 2px;
    vertical-align: middle;
}

.thumbdiv {
    text-align: center;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    margin-bottom: 2px;
}

#cboxLoadedContent {
    background: #000;
    padding: 1px;
    text-align: center;
}

#startUpload, #uploadingActions, #createAccount {
    display: inline-block;
}

.fileupload-process {
    margin-top: 15px;
    display: inline-block;
}


@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-striped .progress-bar, .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.col-lg-7 {
    width: 58.33333333%;
}


.col-lg-5 {
    /*  width: 41.66666667%;*/
    width: 100%;
}


.progress {
    height: 20px;
    margin-bottom: 0;
}



.my-center2 {
    position: absolute;
    width: 300px;
    height: 0;
    text-align: center;
    left: 50%;
    top: 50%;
}


.plupload_droptext {
    line-height: 230px;
    font-size: 2em;
}

.text-danger {
    color: red; /*#ffa646;*/
}

#stripeddiv {
    width: 100%;
    border: 1px solid #F8F8F8;
    background: #F5F5F5;
    height: 290px;
    margin-left: 0;
    margin-top: 20px;
    /*  overflow: auto;*/
}

#striped {
    width: 100%;
    margin-left: 0;
}

.size {
    min-width: 120px;
}

.name {
    min-width: 200px;
    padding-left: 5px;
    white-space: nowrap;
}

#striped td {
    border-bottom: 1px solid #ddd;
    padding: 2px;
}

.btn-warning a:hover {
    background: url(images/cancelhover.svg) !important;
    background-size: cover !important;
}

.btn-warning a {
    width: 10px;
    height: 10px;
    line-height: 10px;
    display: inline-block;
    background: url(images/cancel.svg) !important;
    background-size: cover !important;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        font-size: 20px !important;
        direction: ltr;
        cursor: pointer;
    }

.fuploaderr {
    border: 1px solid #bbb;
    background-color: #bbb;
    -webkit-user-select: text;
}



/*BEGIN themes/modus/css/iconfontello.css.tpl */
@font-face {
    font-family: 'modus';
    src: url(skins/fontello/font/modus.eot?66556310);
    src: url(skins/fontello/font/modus.eot?66556310#iefix) format('embedded-opentype'), url(skins/fontello/font/modus.woff2?66556310) format('woff2'), url(skins/fontello/font/modus.woff?66556310) format('woff'), url(skins/fontello/font/modus.ttf?66556310) format('truetype'), url(skins/fontello/font/modus.svg?66556310#modus) format('svg');
    font-weight: normal;
    font-style: normal
}


[class^="stm-icon-"]:before, [class*=" stm-icon-"]:before {
    font-family: "modus";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.col1 {
    margin-left: 0;
}

.col2 {
    margin-left: 0;
    /*font-family: Helvetica,sans-serif;*/
}

    .col2:before {
        content: '../';
		letter-spacing:2px;
    }

.col3 {
    margin-left: 0;
}

    .col3:before {
        content: "../../";
  		letter-spacing:2px;
  }

.col4 {
    margin-left: 0;
}

    .col4:before {
        content: "../../../";letter-spacing:2px;
    }

.col5 {
    margin-left: 0;
}

    .col5:before {
        content: "../../../../";letter-spacing:2px;
    }

.col6 {
    margin-left: 0;
}

    .col6:before {
        content: "../../../../../";letter-spacing:2px;
    }

.col7 {
    margin-left: 0;
}

    .col7:before {
        content: "../../../../../../";letter-spacing:2px;
    }

.col8 {
    margin-left: 0;
}

    .col8:before {
        content: "../../../../../../../";letter-spacing:2px;
    }

.col9 {
    margin-left: 0;
}

    .col9:before {
        content: "../../../../../../../../";letter-spacing:2px;
    }

.col10 {
    margin-left: 0;
}

    .col10:before {
        content: "../../../../../../../../../";letter-spacing:2px;
    }

.col11 {
    margin-left: 0;
}

    .col11:before {
        content: "../../../../../../../../../../";letter-spacing:2px;
    }

.col12 {
    margin-left: 0;
}

    .col12:before {
        content: "../../../../../../../../../../../";letter-spacing:2px;
    }

.col13 {
    margin-left: 0;
}

    .col13:before {
        content: "../../../../../../../../../../../../";letter-spacing:2px;
    }

.col14 {
    margin-left: 0;
}

    .col14:before {
        content: "../../../../../../../../../../../../../";letter-spacing:2px;
    }

.col15 {
    margin-left: 0;
}

    .col15:before {
        content: "../../../../../../../../../../../../../../";letter-spacing:2px;
    }

.col16 {
    margin-left: 0;
}

    .col16:before {
        content: "../../../../../../../../../../../../../../../";letter-spacing:2px;
    }
